﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This project started as a capstone project for my Computer Science degree. I noticed that none of the comic book stores in my area had a modern solution for managing pull lists.</p>
<p>One store used Google Sheets and the owner's memory. Another one used a formatted text file. The most modern one used a system created in the early 1990s! Yikes!</p>
<p>With guidance of comic book store owners and employees, PullListManager aims to be your superhero solution to keep your best page-turning readers engaged and excited about your coming to your store!</p>
<p>-Scott Pantall (Developer)</p>
