﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>A contact form would be nice here.</p>
<p>In the meantime, I can be reached using the following non-semaphor means of communication </p>

<strong>Twitter: </strong><a href="https://www.twitter.com/scottpantall">@@scottpantall</a><br />
<strong>Email: </strong><a href="mailto:aspantall@gmail.com?subject=PullListManager">aspantall@gmail.com</a>!