﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="cover">
        <h1 class="cover-heading">Pull List Manager</h1>
        <p class="lead">Pull List Manager is a SaaS solution for comic book store employees to manage their customers' pull lists.</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
    </main>
</div>