﻿<div class="sidenav">
    @if (User.IsInRole("Admin"))
    {
        <a asp-controller="Store" asp-action="Index">Store Accounts</a>
        <a asp-controller="Account" asp-action="Index">User Accounts</a>
        <a asp-controller="ComicIssue" asp-action="UploadComics">Upload Comic Info</a>
    }

</div>