﻿<div class="row">
    <div class="col-md-6">
        <form asp-controller="ComicIssue" asp-action="UploadComics" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <div class="text-success">@ViewData["UploadSuccess"]</div>
                <label for="file">Upload the latest PreviewsWorld Customer Order Form (Text version)</label>
                <input name="file" class="form-control" type="file" />
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>