﻿@model PullListRequest

<div class="col-md-3">
    <form asp-controller="PullListRequest" asp-action="_CreatePullListRequest">
        <input type="hidden" asp-for="Id" />
        <input asp-for="RequestTitle" class="form-control"> <input type="submit" value="Add Pull List Request" class="btn btn-default" />
    </form>
</div>