﻿@model PullListManager.Models.PullList

<h2>Pull List Details</h2>
<hr />
<h3>Name: @Model.CustomerName</h3>
<h3>Last Pickup Date: @Model.LastPickupDate?.ToString("MM/dd/yy")</h3>

<h3>Date Created: @Model.DateCreated.ToString("MM/dd/yy")</h3>
<hr />
<a asp-action="Edit" asp-route-id="@Model.Id">Edit Pull List</a><span> | </span><a href='javascript:history.go(-1)'>Back</a>
<hr />
<div class="detail-tabs">
    <ul class="nav nav-tabs" id="pull-list-comics-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="selected-tab" data-toggle="tab" href="#selected" role="tab" aria-controls="selected" aria-selected="false">Selected <span class="badge badge-light">@Model.Books?.Where(b => b.BookStatus == BookStatus.SELECTED).Count()</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="ordered-tab" data-toggle="tab" href="#ordered" role="tab" aria-controls="ordered" aria-selected="false">Ordered <span class="badge badge-light">@Model.Books?.Where(b => b.BookStatus == BookStatus.ORDERED).Count()</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" id="instore-tab" data-toggle="tab" href="#instore" role="tab" aria-controls="instore" aria-selected="true">In Store <span class="badge badge-light">@Model.Books?.Where(b => b.BookStatus == BookStatus.IN_STORE).Count()</span></a>
        </li>
    </ul>
    <div class="tab-content" id="pull-list-comics-tab-content">
        <div class="tab-pane fade" id="selected" role="tabpanel" aria-labelledby="selected-tab">
            <table class="table">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Title</th>
                        <th>Expected Delivery Date</th>
                    </tr>
                </thead>
                <tbody class="list-group">
                    @foreach (var comic in Model.Books.Where(c => c.BookStatus == BookStatus.SELECTED).OrderBy(c => c.Title))
                    {
                        <tr>
                            <td>@comic.OrderNumber</td>
                            <td><a href="@comic.PreviewsLink">@comic.Title</a></td>
                            <td>@comic.DeliveryDate?.ToString("MM/dd/yy")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="ordered" role="tabpanel" aria-labelledby="profile-tab">
            <table class="table">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Title</th>
                        <th>Expected Delivery Date</th>
                    </tr>
                </thead>
                <tbody class="list-group">
                    @foreach (var comic in Model.Books.Where(c => c.BookStatus == BookStatus.ORDERED).OrderBy(c => c.Title))
                    {
                        <tr>
                            <td>@comic.OrderNumber</td>
                            <td><a href="@comic.PreviewsLink">@comic.Title</a></td>
                            <td>@comic.DeliveryDate?.ToString("MM/dd/yy")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade active in" id="instore" role="tabpanel" aria-labelledby="contact-tab">
            <form asp-action="Details">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Pickup</th>
                            <th>Order Number</th>
                            <th>Title</th>
                            <th>Expected Delivery Date</th>
                        </tr>
                    </thead>
                    <tbody class="list-group">
                        @foreach (var comic in Model.Books.Where(c => c.BookStatus == BookStatus.IN_STORE).OrderBy(c => c.Title))
            {
                <tr>
                    <td><input name="comicIds" value="@comic.Id" type="checkbox" /></td>
                    <td>@comic.OrderNumber</td>
                    <td><a href="@comic.PreviewsLink">@comic.Title</a></td>
                    <td>@comic.DeliveryDate?.ToString("MM/dd/yy")</td>
                </tr>
}
                    </tbody>
                </table>
                <div class="form-group">
                    <input type="submit" value="Pickup Comics" class="btn btn-default" />
                </div>
            </form>

        </div>
    </div>
</div>
<div class="detail-pull-list-requests">
    <h2>Pull List Requests</h2>
    @await Html.PartialAsync("_CreatePullListRequest", new PullListRequest())
    @await Component.InvokeAsync("PullListRequests", new { pullListId = Model.Id })
</div>
