﻿@model PullListManager.Models.Store

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>@Html.DisplayFor(model => model.Name) - Store Dashboard</h4>
        <hr />
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit Store</a>
        <span> | </span>
        <a asp-action="PrepOrder" asp-route-id="@Model.Id">Prep Order</a>
        <span> | </span>
        <a asp-action="FillSlots" asp-route-id="@Model.Id">Fill Slots</a>
        @if (User.IsInRole("Admin"))
        {
            <span> | </span> <a asp-action="Index">Back to List</a>
        }

    </div>
    <div>
        <hr />
        <p>
            <a asp-controller="PullList" asp-action="Create" asp-route-id="@Model.Id">Add New Pull List</a>
        </p>
        @await Component.InvokeAsync("PullListList", new { storeId = Model.Id })
    </div>
</body>
</html>