﻿@model List<OrderPrepReportViewModel>

<table class="table">
    <thead>
        <tr>
            <th>Order Number</th>
            <th>Title</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model)
        {
            <tr>
                <td>@line.ComicIssue.OrderNumber</td>
                <td><a href="@line.ComicIssue.PreviewsLink">@line.ComicIssue.Title</a></td>
                <td>@line.Count</td>
            </tr>

        }
    </tbody>
</table>
<a href='javascript:history.go(-1)'>Back</a>
