﻿@model List<PullList>
@inject PullListManager.Data.ApplicationDbContext _dbcontext

<form asp-action="PrepOrder">
    @foreach (var pullList in Model)
    {
        <div class="col-md-12">
            <h3>@pullList.CustomerName</h3>
            <div class="col-md-10">
                @foreach (var pullListRequest in _dbcontext.PullListRequests.Where(p => p.PullListId == pullList.Id))
                {
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse-@pullListRequest.Id">@pullListRequest.RequestTitle</a>
                                </h4>
                            </div>

                            <table id="collapse-@pullListRequest.Id" class="table panel-collapse collapse" style="color: black">
                                <thead>
                                    <tr>
                                        <th>
                                            Select for Order
                                        </th>
                                        <th>
                                            Order Number
                                        </th>
                                        <th>
                                            Title
                                        </th>
                                        <th class="text-center">
                                            Expected Delivery Date
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="list-group">
                                    @foreach (var comic in _dbcontext.ComicIssues.Where(c => c.Title.Contains(pullListRequest.RequestTitle)).OrderBy(c => c.OrderNumber))
                                    {
                                        <tr>
                                            <td>
                                                @if (_dbcontext.ComicBooks.Any(c => c.OrderNumber == comic.OrderNumber && c.PullListId == pullList.Id))
                                                {
                                                    <input name="comicIds" value="@comic.Id:@pullList.Id" type="checkbox" checked />

                                                }
                                                else
                                                {

                                                    <input name="comicIds" value="@comic.Id:@pullList.Id" type="checkbox" />
                                                }
                                            </td>
                                            <td>
                                                @comic.OrderNumber
                                            </td>
                                            <td>
                                                <a href="@comic.PreviewsLink" style="color: blue">@comic.Title</a>
                                            </td>
                                            <td class="text-center">
                                                @comic.DeliveryDate?.ToString("MM/dd/yy")
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                }
            </div>
        </div>

    }
    <div class="form-group">
        <input type="submit" value="Prepare Order" class="btn btn-default" /> <a href='javascript:history.go(-1)'>Back</a>
    </div>
</form>