﻿@model List<PullListRequest>
@inject PullListManager.Data.ApplicationDbContext _dbcontext

<div class="col-md-10">
    @foreach (var pullListRequest in Model)
    {
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse-@pullListRequest.Id">@pullListRequest.RequestTitle</a> | <a asp-controller="PullListRequest" asp-action="Delete" asp-route-id="@pullListRequest.Id" class="list-group-item-danger">Delete</a>
                    </h4>
                </div>
                <table id="collapse-@pullListRequest.Id" class="table panel-collapse collapse" style="color: black">
                    <thead>
                        <tr>
                            <th>
                                Order Number
                            </th>
                            <th>
                                Title
                            </th>
                            <th class="text-center">
                                Expected Delivery Date
                            </th>
                        </tr>
                    </thead>
                    <tbody class="list-group">
                        @foreach (var comic in _dbcontext.ComicIssues.Where(c => c.Title.Contains(pullListRequest.RequestTitle)))
                        {
                            <tr>
                                <td>
                                    @comic.OrderNumber
                                </td>
                                <td>
                                    <a href="@comic.PreviewsLink" style="color: blue">@comic.Title</a>
                                </td>
                                <td class="text-center">
                                    @comic.DeliveryDate?.ToString("MM/dd/yy")
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
