﻿@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Store
                </th>
                <th>
                    Username
                </th>
                <th>
                    Role
                </th>
                <th>
                    Verified
                </th>
                <th>
                </th>
            </tr>
        </thead>
        @foreach (var user in UserManager.Users)
        {
            <tr>
                <td>
                    @user.Name
                </td>
                <td>
                    @user.StoreId
                </td>
                <td>
                    @user.UserName
                </td>
                <td>
                    @user.RoleName
                </td>
                <td>
                    @user.IsVerified
                </td>
                <td>
                    <a asp-action="Verify" asp-route-id="@user.Id">Verify</a><span> | </span><a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                </td>
            </tr>

        }
    </table>
</body>
</html>