﻿@model List<PullList> 

@*<div>
    <h1>A search field goes here</h1>
</div>*@
<table class="table">
    <thead>
        <tr>
            <th>
                Customer Name
            </th>
            <th>
                Selected
            </th>
            <th>
                Ordered
            </th>
            <th>
                In-Store
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var list in Model)
        {
            <tr>
                <td>
                    <a asp-controller="PullList" asp-action="Details" asp-route-id="@list.Id">@list.CustomerName</a>
                </td>
                <td>
                    @list.Books?.Where(b => b.BookStatus == BookStatus.SELECTED).Count()
                </td>
                <td>
                    @list.Books?.Where(b => b.BookStatus == BookStatus.ORDERED).Count()
                </td>
                <td>
                    @list.Books?.Where(b => b.BookStatus == BookStatus.IN_STORE).Count()
                </td>
            </tr>

        }
    </tbody>
</table>